<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Student Records</title>
		<link
			href="styles/vp_admin_request_records.css"
			rel="stylesheet" />
	</head>
	<body>
        <div class="container">
            <header>
                <h1>Visitation Pass Records</h1>
            </header>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Request Status</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% records.forEach((record)=>{ %>
                        <tr>
                            <td><%= record.Id %></td>
                            <td><%= record.Status %></td>
                            <td><%= record.Date %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        
	</body>
</html>
