<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="../styles/student/emergency_contacts.css" />
		<title>Emergency Contacts</title>
	</head>
	<body>
		<%- include("../partials/side_navbar_student") %>
		<div class="qwerty">Emergency Contacts</div>
		<main>
			<section class="contact">
				<h2>Contact Information</h2>
				<ul>
					<li><strong>Hostel Manager:</strong> John Doe - (555) 123-4567</li>
					<li><strong>Security Office:</strong> Jane Smith - (555) 987-6543</li>
					<li>
						<strong>Medical Emergency:</strong> Hospital XYZ - (555) 567-8901
					</li>
				</ul>
			</section>
		</main>
	</body>
</html>
