<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Inbox</title>
		<link
			href="styles/style.css"
			rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<header>
				<h1>Visitation Pass Requests</h1>
			</header>

			<div class="inbox">
				<% inbox.forEach((stud)=>{ %>
					<div class="request">
						<div class="request-header">
							<div>
								<h3>Student Request 1</h3>
								<p>Student Name: <%= stud.studName %></p>
								<p>Student ID: <%= stud.studId %></p>
							</div>
							<div class="buttons">
								<button class="button issue">Accept</button>
								<button class="button discard">Discard</button>
								<button class="button add">+</button>
							</div>
						</div>
						<p>Reason for Visit: <%= stud.reasonForVisit %></p>
					</div>
				<% }) %>
			</div>
		</div>
	</body>
</html>
